<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
//================================================================================
// ID: PNKS15001
// ProjectName: コープ九州事業連合様  ホストシステムリプレイス
// SystemName: 業務管理
// ClassName: Pnks15001Mapper
//
// <<Modification History>>
// Version  | Date       | Updated By           | Content
// =========+============+======================+=================================
// 01.00.00 | 2023/08/01 | ＡＭＣ               | 新規作成
//================================================================================
-->

<!-- 【農産企画支援】納品指示書発行指示マッパー -->
<mapper namespace="coop.kyushu.gyomu_kanri.mapper.nks.Pnks15001Mapper">
	<!-- メーカーコード、配達年月回より、納品指示データ情報取得。 -->
	<select id="getNonyuSiteiDataByPnks150" parameterType="Map" resultType="coop.kyushu.gyomu_kanri.entity.com.Nstf020Entity">
		SELECT
			MAKERCD
			, HAITATUYMT
			, CNTJIGCD
			, KYSHINCD
			, SANTICD
			, TOKAIKYUCD
			, HAIJISU
			, GOTO_FLG
			, JANCD
			, KIKAKKN
			, SHINKJ
			, MAKERKJ
			, SANTIKJ
			, TOKAIKYUKJ
			, NOUHINNM
			, NYUKHM
			, KAKOKBN
			, EHU
			, SAGA
			, RARA
			, OITA
			, SUIKOSYA
			, MIYAZAKI
			, KAGOSIMA
			, OKINAWA
			, NYUKYMD
			, SURYO
			, YOBISU
			, DEL_FLG
		FROM
			[nosan].NSTF020
		WHERE
			HAITATUYMT = #{haitatYmTimes}
			<if test="'' != maker and '' != maker">
				AND MAKERCD = #{maker}
			</if>
	</select>
	<!-- 管理マスタ取得 -->
	<select id="getkanriInfoByPnks15001" parameterType="Map" resultType="coop.kyushu.gyomu_kanri.entity.com.Nsmm010Entity">
		SELECT
			RENRAKUKJ
			, RENRAKUTEL
			, RENRAKUFAX
			, NOHINBASHO2
			, NOHINKJ
			, NOHINTEL
			, NOHINFAX
			, RENRAKUKJ2
			, RENRAKUTEL2
			, RENRAKUFAX2
			, NOHINBASHO
			, NOHINKJ2
			, NOHINTEL2
			, NOHINFAX2
		FROM
			[nosan].NSMM010
	</select>
	<!-- 納品指示データ情報取得 -->
	<select id="getInfoByPnks15001" parameterType="Map" resultType="coop.kyushu.gyomu_kanri.entity.nks.Pnks15001Item">
		SELECT
			NSTF020A.MAKERCD
			, NSTF020A.HAITATUYMT
			, NSTF020A.CNTJIGCD
			, LTRIM(RTRIM(NSTF020A.CNTKB)) AS CNTKB
			, NSTF020A.KYSHINCD
			, NSTF020A.SANTICD
			, NSTF020A.TOKAIKYUCD
			, NSTF020A.NYUKYMD
			, NSMM010.RENRAKUKJ
			, NSMM010.RENRAKUTEL
			, NSMM010.RENRAKUFAX
			, NSMM010.NOHINBASHO
			, NSMM010.NOHINKJ
			, NSMM010.NOHINTEL
			, NSMM010.NOHINFAX
			, LTRIM(RTRIM(NSTF020A.MAKERKJ)) AS MAKERKJ
			, NSTF020A.NYUKHM
			, NSTF020A.JANCD
			, NSTF020A.SHINKJ
			, NSTF020A.KIKAKKN
			, NSTF020A.SANTIKJ
			, NSTF020A.TOKAIKYUKJ
			, NSTF020A.KAKOKBN
			, NSTF020A.NOUHINNM
			, NSTF020A.EHU
			, NSTF020A.SAGA
			, NSTF020A.RARA
			, NSTF020A.OITA
			, NSTF020A.SUIKOSYA
			, NSTF020A.MIYAZAKI
			, NSTF020A.KAGOSIMA
			, NSTF020A.OKINAWA
			, NSTF020D1.SURYO AS SURYO1
			, NSTF020D1.YOBISU AS YOBISU1
			, NSTF020G1.SURYO AS GOTOSURYO1
			, NSTF020G1.YOBISU AS GOTOYOBISU1
			, NSTF020D2.SURYO AS SURYO2
			, NSTF020D2.YOBISU AS YOBISU2
			, NSTF020G2.SURYO AS GOTOSURYO2
			, NSTF020G2.YOBISU AS GOTOYOBISU2
			, NSTF020D3.SURYO AS SURYO3
			, NSTF020D3.YOBISU AS YOBISU3
			, NSTF020G3.SURYO AS GOTOSURYO3
			, NSTF020G3.YOBISU AS GOTOYOBISU3
			, NSTF020D4.SURYO AS SURYO4
			, NSTF020D4.YOBISU AS YOBISU4
			, NSTF020G4.SURYO AS GOTOSURYO4
			, NSTF020G4.YOBISU AS GOTOYOBISU4
			, NSTF020D5.SURYO AS SURYO5
			, NSTF020D5.YOBISU AS YOBISU5
		FROM
			[nosan].NSMM010
			, (SELECT NSTF020.MAKERCD
					, NSTF020.HAITATUYMT
					, NSTF020.KYSHINCD
					, NSTF020.SANTICD
					, NSTF020.TOKAIKYUCD
					, NSTF020.CNTJIGCD
					, COALESCE(MAX(NSMM021.MEICD), '1') AS CNTKB
					, MAX(NSTF020.MAKERKJ) AS MAKERKJ
					, MAX(NSTF020.NYUKHM) AS NYUKHM
					, MAX(NSTF020.JANCD) AS JANCD
					, MAX(NSTF020.SHINKJ) AS SHINKJ
					, MAX(NSTF020.KIKAKKN) AS KIKAKKN
					, MAX(NSTF020.SANTIKJ) AS SANTIKJ
					, MAX(NSTF020.TOKAIKYUKJ) AS TOKAIKYUKJ
					, MAX(NSTF020.KAKOKBN) AS KAKOKBN
					, COALESCE(MAX(NSMM020.KJNM), ' ') AS NOUHINNM
					, MIN(NSTF020.NYUKYMD) AS NYUKYMD
					, MAX(NSTF020.EHU) AS EHU
					, MAX(NSTF020.SAGA) AS SAGA
					, MAX(NSTF020.RARA) AS RARA
					, MAX(NSTF020.OITA) AS OITA
					, MAX(NSTF020.SUIKOSYA) AS SUIKOSYA
					, MAX(NSTF020.MIYAZAKI) AS MIYAZAKI
					, MAX(NSTF020.KAGOSIMA) AS KAGOSIMA
					, MAX(NSTF020.OKINAWA) AS OKINAWA
				FROM
					[nosan].NSTF020
				LEFT JOIN [nosan].NSMM020
					ON NSMM020.MEICD = NSTF020.KAKOKBN
					AND NSMM020.RECKB = '16'
				LEFT JOIN [nosan].NSMM020 NSMM021
					ON NSMM021.ZOK01 = NSTF020.CNTJIGCD
					AND NSMM021.RECKB = '22'
				WHERE 
					NSTF020.HAITATUYMT = #{haitatYmTimes}
				<if test="'' != maker and '' != maker">
					AND MAKERCD = #{maker}
				</if>
					AND NSTF020.GOTO_FLG = '0'
				GROUP BY
					NSTF020.MAKERCD
					, NSTF020.HAITATUYMT
					, NSTF020.CNTJIGCD
					, NSTF020.KYSHINCD
					, NSTF020.SANTICD
					, NSTF020.TOKAIKYUCD
				) NSTF020A
			LEFT JOIN [nosan].NSTF020 NSTF020D1
			ON NSTF020A.MAKERCD = NSTF020D1.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020D1.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020D1.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020D1.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020D1.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020D1.TOKAIKYUCD
				AND NSTF020D1.HAIJISU = '1'
				AND NSTF020D1.GOTO_FLG = '0'
			LEFT JOIN [nosan].NSTF020 NSTF020G1
			ON NSTF020A.MAKERCD = NSTF020G1.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020G1.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020G1.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020G1.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020G1.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020G1.TOKAIKYUCD
				AND NSTF020G1.HAIJISU = '2'
				AND NSTF020G1.GOTO_FLG = '1'
			LEFT JOIN [nosan].NSTF020 NSTF020D2
			ON NSTF020A.MAKERCD = NSTF020D2.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020D2.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020D2.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020D2.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020D2.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020D2.TOKAIKYUCD
				AND NSTF020D2.HAIJISU = '2'
				AND NSTF020D2.GOTO_FLG = '0'
			LEFT JOIN [nosan].NSTF020 NSTF020G2
			ON NSTF020A.MAKERCD = NSTF020G2.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020G2.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020G2.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020G2.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020G2.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020G2.TOKAIKYUCD
				AND NSTF020G2.HAIJISU = '3'
				AND NSTF020G2.GOTO_FLG = '1'
			LEFT JOIN [nosan].NSTF020 NSTF020D3
			ON NSTF020A.MAKERCD = NSTF020D3.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020D3.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020D3.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020D3.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020D3.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020D3.TOKAIKYUCD
				AND NSTF020D3.HAIJISU = '3'
				AND NSTF020D3.GOTO_FLG = '0'
			LEFT JOIN [nosan].NSTF020 NSTF020G3
			ON NSTF020A.MAKERCD = NSTF020G3.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020G3.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020G3.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020G3.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020G3.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020G3.TOKAIKYUCD
				AND NSTF020G3.HAIJISU = '4'
				AND NSTF020G3.GOTO_FLG = '1'
			LEFT JOIN [nosan].NSTF020 NSTF020D4
			ON NSTF020A.MAKERCD = NSTF020D4.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020D4.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020D4.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020D4.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020D4.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020D4.TOKAIKYUCD
				AND NSTF020D4.HAIJISU = '4'
				AND NSTF020D4.GOTO_FLG = '0'
			LEFT JOIN [nosan].NSTF020 NSTF020G4
			ON NSTF020A.MAKERCD = NSTF020G4.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020G4.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020G4.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020G4.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020G4.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020G4.TOKAIKYUCD
				AND NSTF020G4.HAIJISU = '5'
				AND NSTF020G4.GOTO_FLG = '1'
			LEFT JOIN [nosan].NSTF020 NSTF020D5
			ON NSTF020A.MAKERCD = NSTF020D5.MAKERCD
				AND NSTF020A.HAITATUYMT = NSTF020D5.HAITATUYMT
				AND NSTF020A.CNTJIGCD = NSTF020D5.CNTJIGCD
				AND NSTF020A.KYSHINCD = NSTF020D5.KYSHINCD
				AND NSTF020A.SANTICD = NSTF020D5.SANTICD
				AND NSTF020A.TOKAIKYUCD = NSTF020D5.TOKAIKYUCD
				AND NSTF020D5.HAIJISU = '5'
				AND NSTF020D5.GOTO_FLG = '0'
			ORDER BY
				NSTF020A.MAKERCD
				, NSTF020A.HAITATUYMT
				, NSTF020A.CNTJIGCD
				, NSTF020A.KYSHINCD
				, NSTF020A.SANTICD
				, NSTF020A.TOKAIKYUCD
	</select>
</mapper>
