<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
//================================================================================
// ID: PSKC020
// ProjectName: コープ九州事業連合様  ホストシステムリプレイス
// SystemName: 業務管理
// ClassName: Pskc020Mapper
//
// <<Modification History>>
// Version  | Date       | Updated By           | Content
// =========+-===========+======================+=================================
// 01.00.00 | 2023/08/11 | ＡＭＣ                | 新規作成
//================================================================================-->

<!-- 【惣菜加工センター】製造計画数取込・出力マッパー -->
<mapper namespace="coop.kyushu.gyomu_kanri.mapper.skc.Pskc020Mapper">
	
	<!-- 店舗情報件数取得 -->
	<select id="getTempoInfoKensuByPskc020" parameterType="String" resultType="int">
		SELECT
		    COUNT(MISECD)
		FROM
		    [sozai].SZVW102 
		WHERE
			MISECD = #{shopCd}
	</select>
	
	<!-- 商品情報件数取得 -->
	<select id="getShinInfoKensuByPskc020" parameterType="String" resultType="int">
		SELECT
		    COUNT(CQSHINCD)
		FROM
		    [sozai].SZVW103 
		WHERE 
			CQSHINCD = #{cqProjNo}
	</select>
	
	<!-- ＣＳＶ出力データ取得 -->
	<select id="getCsvDateByPskc020" parameterType="Map" resultType="coop.kyushu.gyomu_kanri.entity.skc.Pskc020Entity">
		SELECT
			B.MISECD 												AS 'shopCd'
			, E.MISENM 												AS 'shopNm'
			, A.CQSHINCD 											AS 'hinmokuCd'
			, D.SHINKJ 												AS 'hinNm'
			, CONVERT(varchar, CONVERT(date, A.NHINYMD, 112), 111) 	AS 'delvDay'
			, ISNULL(C.NHINSU, C.PLANSU) 							AS 'juchuSu'
			, SUM(COALESCE(C.NHINSU, C.PLANSU, 0)) OVER (PARTITION BY A.NHINYMD, A.CQSHINCD) AS 'gkeiJuchuSu'
		FROM
			[sozai].SZTR102 A 
			INNER JOIN [sozai].SZTR103 B 
				ON B.USEFLG = '1' 
			INNER JOIN [sozai].SZVW103 D 
				ON A.CQSHINCD = D.CQSHINCD
			INNER JOIN [sozai].SZVW102 E 
				ON E.MISECD = B.MISECD
			LEFT JOIN [sozai].SZTR101 C 
				ON A.NHINYMD = C.NHINYMD
				AND A.CQSHINCD = C.CQSHINCD
				AND B.MISECD = C.MISECD
		WHERE
			A.NHINYMD BETWEEN #{delvDayFrom} AND #{delvDayTo}
			AND A.USEFLG = '1' 
		ORDER BY
			A.NHINYMD
			, A.CQSHINCD
			, B.MISECD
	</select>

	<!-- 惣菜製造計画ワーク削除 -->
	<delete id="deleteSozaiSeizoPlanWkByPskc020" parameterType="String">
		DELETE
			FROM [sozai].SZWK101
		WHERE
			UUID = #{userId}
	</delete>
	
	<!-- 惣菜製造計画ワーク登録 -->
	<insert id="insertSozaiSeizoPlanWkByPskc020" parameterType="Map">
		INSERT
		INTO [sozai].SZWK101 (
			UUID
			, CQSHINCD
			, NHINYMD
			, MISECD
			, NHINSU
			, SKSI_USR
			, SKSI_PRGRM
			, SKSI_NCHJ
			, KUSHN_USR
			, KUSHN_PRGRM
			, KUSHN_NCHJ
		)
		VALUES
		(
			#{uuid}
			, #{cqProjNo}
			, #{delvDay}
			, #{shopCd}
			, #{nhinsu}
			, #{userId}
			, #{prgrm}
			, #{nchj}
			, #{userId}
			, #{prgrm}
			, #{nchj}
		)
	</insert>
	
	<!-- 惣菜製造計画データを登録・更新 -->
	<update id="mergeToSozaiSeizoPlanDateByPskc020" parameterType="Map">
		MERGE 
		INTO [sozai].SZTR101 A 
			USING ( 
				SELECT
					B.MISECD
					, B.CQSHINCD
					, B.NHINYMD
					, B.NHINSU
					, C.KSEICD
					, C.TSBCD
				FROM
					[sozai].SZWK101 B 
					INNER JOIN [sozai].SZVW102 C 
						ON C.MISECD = B.MISECD
				WHERE
					B.UUID = #{uuid}
			) B 
				ON ( 
					A.MISECD = B.MISECD
					AND A.CQSHINCD = B.CQSHINCD
					AND A.NHINYMD = B.NHINYMD
				) WHEN MATCHED THEN UPDATE 
		SET
			PLANSU = B.NHINSU
			, KUSHN_USR = #{userId}
			, KUSHN_PRGRM = #{prgrm}
			, KUSHN_NCHJ = #{nchj} WHEN NOT MATCHED THEN 
		INSERT 
		( 
			MISECD
			, NHINYMD
			, CQSHINCD
			, KSEICD
			, TSBCD
			, PLANSU
			, NHINSU
			, DATAKBN
			, SKSI_USR
			, SKSI_PRGRM
			, SKSI_NCHJ
			, KUSHN_USR
			, KUSHN_PRGRM
			, KUSHN_NCHJ
		) 
		VALUES ( 
			B.MISECD
			, B.NHINYMD
			, B.CQSHINCD
			, B.KSEICD
			, B.TSBCD
			, B.NHINSU
			, NULL
			, '2'
			, #{userId}
			, #{prgrm}
			, #{nchj}
			, #{userId}
			, #{prgrm}
			, #{nchj}
		);
	</update>
	
	<!-- 惣菜製造計画データを削除 -->
	<delete id="deleteSozaiSeizoPlanDateByPskc020" parameterType="Map">
		DELETE 
			FROM [sozai].SZTR101
		 WHERE  
		 	PLANSU	IS NULL
			AND  NHINSU  IS  NULL
			AND  NHINYMD BETWEEN  #{delvDayGetsu} AND #{delvDayNiti}
	</delete>
	
	<!-- 惣菜対象商品登録 -->
	<insert id="insertSozaiTaishoShohinByPskc020" parameterType="Map">
		INSERT 
		INTO [sozai].SZTR102 (
			NHINYMD
			, CQSHINCD
			, USEFLG
			, SKSI_USR
			, SKSI_PRGRM
			, SKSI_NCHJ
			, KUSHN_USR
			, KUSHN_PRGRM
			, KUSHN_NCHJ
		)
		SELECT DISTINCT
			#{delvDay}
			, A.CQSHINCD
			, '1'
			, #{userId}
			, #{prgrm}
			, #{nchj}
			, #{userId}
			, #{prgrm}
			, #{nchj}
		FROM
			[sozai].SZWK101 A 
		WHERE
			A.UUID = #{uuid}
			AND A.NHINYMD BETWEEN #{delvDayFrom} AND #{delvDayTo}
			AND NOT EXISTS ( 
				SELECT
					1 
				FROM
					[sozai].SZTR102 B 
				WHERE
					B.CQSHINCD = A.CQSHINCD 
					AND NHINYMD = #{delvDay}
			)
	</insert>
	
	<!-- 惣菜対象店舗登録 -->
	<insert id="insertSozaiTaishoTenPoByPskc020" parameterType="Map">
		INSERT 
		INTO [sozai].SZTR103( 
		    MISECD
		    , KSEICD
		    , TSBCD
		    , USEFLG
		    , SKSI_USR
		    , SKSI_PRGRM
		    , SKSI_NCHJ
		    , KUSHN_USR
		    , KUSHN_PRGRM
		    , KUSHN_NCHJ
		) 
		SELECT DISTINCT
		    A.MISECD
		    , B.KSEICD
		    , B.MISECD
		    , '1'
			, #{userId}
			, #{prgrm}
			, #{nchj}
			, #{userId}
			, #{prgrm}
			, #{nchj}
		FROM
		    [sozai].SZWK101 A 
		    INNER JOIN [sozai].SZVW102 B 
		        ON B.MISECD = A.MISECD
		WHERE
		    A.UUID = #{uuid}
		    AND A.NHINYMD BETWEEN #{delvDayFrom} AND #{delvDayTo}
		    AND NOT EXISTS ( 
		        SELECT
		            1 
		        FROM
		            [sozai].SZTR103 C 
		        WHERE
		            C.MISECD = A.MISECD
		    )
	</insert>
	
	<!-- 惣菜対象商品ワーク削除 -->
	<delete id="deleteSozaiTaishoShohinWkByPskc020" parameterType="String">
		DELETE
			FROM [sozai].SZWK102
		WHERE
			UUID = #{userId}
	</delete>
	
	<!-- 惣菜対象商品ワーク登録 -->
	<insert id="insertSozaiTaishoShohinWkByPskc020" parameterType="Map">
		INSERT 
		INTO [sozai].SZWK102( 
		    UUID
		    , CQSHINCD
		    , TORIKMFLG
		    , SKSI_USR
		    , SKSI_PRGRM
		    , SKSI_NCHJ
		    , KUSHN_USR
		    , KUSHN_PRGRM
		    , KUSHN_NCHJ
		) 
		VALUES ( 
		    #{uuid}
		    , #{cqProjNo}
		    , #{torikmFlg}
			, #{userId}
			, #{prgrm}
			, #{nchj}
			, #{userId}
			, #{prgrm}
			, #{nchj}
		)
	</insert>
	
	<!-- 惣菜対象商品登録・更新 -->
	<update id="updateSozaiTaishoShohinByPskc020" parameterType="Map">
		MERGE
		INTO [sozai].SZTR102 A 
			USING ( 
				SELECT
					RTRIM(B.UUID) AS UUID
					, B.CQSHINCD
					, #{delvDay} AS NHINYMD
					, MAX(B.TORIKMFLG) AS USEFLG
				FROM
					[sozai].SZWK102 B 
				WHERE
					RTRIM(B.UUID)  =  #{uuid}
				GROUP BY
					RTRIM(B.UUID)
					, B.CQSHINCD
			) B
				ON ( 
					RTRIM(A.CQSHINCD)  =  RTRIM(B.CQSHINCD) 
					AND RTRIM(A.NHINYMD)  =  RTRIM(B.NHINYMD)
				) 
		WHEN MATCHED THEN UPDATE 
		SET
			USEFLG  =  B.USEFLG
			, KUSHN_USR  =  #{uuid}
			, KUSHN_PRGRM  =  #{prgrm}
			, KUSHN_NCHJ  =  #{nchj}
		WHEN NOT MATCHED THEN 
		INSERT
		(
			NHINYMD
			, CQSHINCD
			, USEFLG
		    , SKSI_USR
		    , SKSI_PRGRM
		    , SKSI_NCHJ
		    , KUSHN_USR
		    , KUSHN_PRGRM
		    , KUSHN_NCHJ
		)
		VALUES (
			B.NHINYMD
			, B.CQSHINCD
			, B.USEFLG
			, #{userId}
			, #{prgrm}
			, #{nchj}
			, #{userId}
			, #{prgrm}
			, #{nchj}
		);
	</update>
	
</mapper>
